/********* Fonts **********/

@import url('https://fonts.googleapis.com/css?family=Raleway:500');
@import url('https://fonts.googleapis.com/css?family=Modak');

/****** Main Styling ******/
header *, body * {
  font-family: 'Raleway';
}

a, a:hover, a:visited {
  text-decoration: none;
}


/****** Header Styling ******/
.navbar-brand {
  font: 1.5em "Modak";
}

/****** Login Styling ******/


/****** Logo Div Styling ******/


/****** Click Styling ******/


/****** Profile Styling ******/


/****** Poll Styling ******/
.poll {
  border: 2px solid #fa8072;
  color: #fa8072;
  width: 100%;
  /*height: 100px;*/
  border-radius: 5px;

  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 1.25em;
}

.poll:hover {
  box-shadow: 50px black;
  color: #8b4c39;
  border-color: #8b4c39;
}

/****** OAuth Button Styling ******/
.pollerinho-text {
  font: 5em "Modak";
  color: #fa8072;
}

.oauth-btn {
  border: 2px solid #fa8072;;
  border-radius: 5px;
  padding: 10px 8px;

  color: #fa8072;;
}

.oauth-btn:hover {
  box-shadow: 50px black;
  color: #8b4c39;
  border-color: #8b4c39
}

/****** my-polls Poll Styling ******/
.my-polls-poll {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.my-edit-btn {
  border-radius: 0px;
  height: 100%;
}

.my-delete-btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 100%;
}
