<div class="container-fluid py-5">
	<div class="row py-5">
		<div class="col-xs-10 col-sm-10 col-md-6 text-center mx-auto login my-5">
			<p class="pollerinho-text">Pollerinho.js</p>
		</div>
	</div>
	<div class="row mx-5">
		<div class="col-6">
			<a href="/auth/github">
				<div class="text-center oauth-btn" id="github-login-btn">
					<i class="fab fa-github"></i>
					GitHub
				</div>
			</a>
		</div>
		<div class="col-6">
			<a href="/auth/twitter">
				<div class="text-center oauth-btn" id="twitter-login-btn">
					<i class="fab fa-twitter"></i>
					Twitter
				</div>
			</a>
		</div>
	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
