<div class="container-fluid px-5 py-5">
	<!-- New row created and used for each poll -->
	<div class="row mx-5 my-5">
		<div class="hidden-xs hidden-sm col-md-3"></div>
		<div class="col-xs-10 col-sm-10 col-md-6 text-center login my-5">
			<p class="pollerinho-text">Pollerinho.js</p>
		</div>
		<div class="hidden-xs hidden-sm col-md-3"></div>
	</div>
	<div class="row mx-5">
		<div class="hidden-xs hidden-sm col-md-4"></div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<a href="/auth/github">
				<div class="text-center oauth-btn" id="github-login-btn">
					<!-- <img src="/public/img/github_32px.png" alt="github logo" /> -->
					GitHub
				</div>
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-2">
			<a href="/auth/twitter">
				<div class="text-center oauth-btn" id="twitter-login-btn">
					<!-- <img src="/public/img/twitter_32px.png" alt="twitter logo" /> -->
					Twitter
				</div>
			</a>
		</div>
		<div class="hidden-xs hidden-sm col-md-4"></div>
	</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
